.container {
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #dbdbdb;

  margin: 10px;
  padding: 10px;
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container:hover {
  box-shadow: .5px .5px .5px .5px #828282;
  background-color: #afafaf;
  transition: 0.2s;
  cursor: pointer;
}

.title {
  width: fit-content;
}

.metadata {
  margin: 10px;
  padding: 10px;
  width: 550px;
  display: flex;
  flex-direction: column;
}

.price {
  font-weight: bold;
  color: #616161;
}

.crypto-image {
  height: 100px;
}

.favorite {
  display: none;
  transition: 1s;
}

.container:hover .favorite{
  display: block;
}

