<div class="container">
  <p class="property">Coins: <span class="value">{{globalData.data.active_cryptocurrencies}}</span></p>
  <p class="property">Exchanges: <span class="value">{{globalData.data.markets}}</span></p>
  <p class="property">Market Cap: $ <span class="value">{{globalData.data.total_market_cap.usd.toLocaleString('en-us', {minimumFractionDigits: 2})}}</span></p>
  <p class="property">24h Vol: $ <span class="value">{{globalData.data.total_volume.usd.toLocaleString('en-us', {minimumFractionDigits: 2})}}</span></p>
<!--  <p>Dominance: {{globalData.data.}}</p>-->
<!--  <p>ETH Gas: {{globalData.data.}}</p>-->
</div>
